#choose-birthplace {
    background:url("../images/world_map.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#title-text {
    text-align: center;
}
#transparent-button-charleston {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:175px;
    height:120px;
    left:290px;
    top:140px;
    outline:none;
}

#transparent-button-canton {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:175px;
    height:120px;
    left:755px;
    top:200px;
    outline:none;
}

#chose-charleston {
    background:url("../images/chose_sc.jpg") no-repeat center ;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 5px;
}

#chose-canton {
    background:url("../images/chose_canton.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#weymouth-left-btn {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:230px;
    height:80px;
    left:190px;
    top:480px;
    outline:none;
}

#weymouth-right-btn {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:230px;
    height:80px;
    left:605px;
    top:480px;
    outline:none;
}

#weymouth-middle-btn {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:230px;
    height:80px;
    left:50px;
    top:480px;
    outline:none;
}

#canton-left-btn {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:230px;
    height:80px;
    left:320px;
    top:480px;
    outline:none;
}

#canton-right-btn {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:230px;
    height:80px;
    left:480px;
    top:480px;
    outline:none;
}

#btn-join-army {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:300px;
    height:120px;
    left:500px;
    top:465px;
    outline:none;
}

#canton-servant {
    background:url("../images/america_servant.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#canton-missionary {
    background:url("../images/america_missionary.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#canton-slave {
    background:url("../images/america_slave.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#farmer-in-america {
    background:url("../images/farmer_in_america.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#apprentice-in-america {
    background:url("../images/apprentice_in_america.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#sailor-in-america {
    background:url("../images/sailor_in_america.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#join-army-as-north {
    background:url("../images/join_army_as_north.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#join-army-earlier {
    background:url("../images/join_earlier.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#join-army-later {
    background:url("../images/join_later.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#mclellan-mead-burnside {
    background:url("../images/mcclellan_mead_burnside.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#grant {
    background:url("../images/grant.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#gettysburg-button {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:400px;
    height:65px;
    left:500px;
    top:120px;
    outline:none;
}

#gettysburg-scene {
    background:url("../images/gettysburg.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#antietam-button {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:400px;
    height:65px;
    left:90px;
    top:185px;
    outline:none;
}

#antietam-scene {
    background:url("../images/antietam.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#fredericksburg-button {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:400px;
    height:65px;
    left:-310px;
    top:250px;
    outline:none;
}

#fredericksburg-scene {
    background:url("../images/fredericksburg.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#spotsylvania-button {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:370px;
    height:55px;
    left:520px;
    top:235px;
    outline:none;
}

#spotsylvania-scene {
    background:url("../images/spotsylvania.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#cold-harbor-button {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:350px;
    height:55px;
    left:475px;
    top:280px;
    outline:none;
}

#cold-harbor-scene {
    background:url("../images/cold_harbor.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#petersburg-button {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:330px;
    height:65px;
    left:-210px;
    top:300px;
    outline:none;
}

#petersburg-scene {
    background:url("../images/petersburg.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#choose-another-battle {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:230px;
    height:80px;
    left:320px;
    top:480px;
    outline:none;
}

#leave-the-army {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:230px;
    height:80px;
    left:480px;
    top:480px;
    outline:none;
}

#denied-scene {
    background:url("../images/stayed_denied.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#revoked-scene {
    background:url("../images/stayed_revoked.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

#return-scene {
    background:url("../images/return_to_china.jpg") no-repeat center;
    height:617px;
    margin: auto;
    margin-top: 5px;
}

/* #randomizer {
    background:url("../images/spinning_cannon.gif") no-repeat center;
    height:617px;
    margin: auto;
} */