#choose-birthplace {
    background:url("../images/world_map.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#intro-1-scene {
    background:url("../images/intro_1.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#intro-2-scene{
    background:url("../images/intro_2.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#title-text {
    text-align: center;
}
#transparent-button-charleston {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:19.671875vw;
    height:20.761245674740483vh;
    left:22.65625vw;
    top:24.22145328719723vh;
    outline:none;
}

#transparent-button-canton {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:17.671875vw;
    height:20.761245674740483vh;
    left:45.984375vw;
    top:34.602076124567475vh;
    outline:none;
}

#chose-charleston {
    background:url("../images/chose_sc.jpg") no-repeat center ;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#chose-canton {
    background:url("../images/chose_canton.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#weymouth-left-btn {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:21vw;
    height:21vh;
    left:13vw;
    top:79vh;
    outline:none;
}

#weymouth-right-btn {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:21vw;
    height:21vh;
    left:42.5vw;
    top:79vh;
    outline:none;
}

#weymouth-middle-btn {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:21vw;
    height:21vh;
    left:-4.5vw;
    top:79vh;
    outline:none;
}

#canton-left-btn {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:21vw;
    height:39.792387543252595vh;
    left:23vw;
    top:79vh;
    outline:none;
}

#canton-right-btn {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:21vw;
    height:39.792387543252595vh;
    left:32.5vw;
    top:79vh;
    outline:none;
}

#btn-join-army {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:23.4375vw;
    height:20.761245674740483vh;
    left:38.5vw;
    top:79.8650519031141869vh;
    outline:none;
}

#canton-servant {
    background:url("../images/america_servant.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#canton-missionary {
    background:url("../images/america_missionary.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#canton-slave {
    background:url("../images/america_slave.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#farmer-in-america {
    background:url("../images/farmer_in_america.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#apprentice-in-america {
    background:url("../images/apprentice_in_america.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#sailor-in-america {
    background:url("../images/sailor_in_america.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#join-army-as-north {
    background:url("../images/join_army_as_north.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#join-army-earlier {
    background:url("../images/join_earlier.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#join-army-later {
    background:url("../images/join_later.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#mclellan-mead-burnside {
    background:url("../images/mcclellan_mead_burnside.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#grant {
    background:url("../images/grant.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#gettysburg-button {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:31.25vw;
    height:9.8650519031141869vh;
    left:39.0625vw;
    top:20.761245674740483vh;
    outline:none;
}

#gettysburg-scene {
    background:url("../images/gettysburg.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#antietam-button {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:31.25vw;
    height:10.8650519031141869vh;
    left:7.03125vw;
    top:30.8650519031141869vh;
    outline:none;
}

#antietam-scene {
    background:url("../images/antietam.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#fredericksburg-button {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:31.25vw;
    height:9.8650519031141869vh;
    left:-24.21875vw;
    top:43.25259515570934vh;
    outline:none;
}

#fredericksburg-scene {
    background:url("../images/fredericksburg.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#spotsylvania-button {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:26.25vw;
    height:9.8650519031141869vh;
    left:43.21875vw;
    top:42.25259515570934vh;
    outline:none;
}

#spotsylvania-scene {
    background:url("../images/spotsylvania.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#cold-harbor-button {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:25.25vw;
    height:9.8650519031141869vh;
    left:40.21875vw;
    top:49.25259515570934vh;
    outline:none;
}

#cold-harbor-scene {
    background:url("../images/cold_harbor.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#petersburg-button {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:25.25vw;
    height:9.8650519031141869vh;
    left:-11.21875vw;
    top:53.25259515570934vh;
    outline:none;
}

#petersburg-scene {
    background:url("../images/petersburg.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#choose-another-battle {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:21.96875vw;
    height:19vh;
    left:22.5vw;
    top:79.1vh;
    outline:none;
}

#leave-the-army {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:21.96875vw;
    height:19.84083044982699vh;
    left:30.5vw;
    top:79.1vh;
    outline:none;
}

#denied-scene {
    background:url("../images/stayed_denied.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#revoked-scene {
    background:url("../images/stayed_revoked.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

#return-scene {
    background:url("../images/return_to_china.jpg") no-repeat center;
    height:106.74740484429066vh;
    margin: auto;
    margin-top: 0.8650519031141869vh;
}

/* #trigger-modal {
    background : transparent;
    position:relative;
    border: none !important;
    font-size:0;
    width:16.75vw;
    height:19.8650519031141869vh;
    left:21.21875vw;
    top:51.25259515570934vh;
    outline:none;
} */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
  }

.btn-dog-tag {
    background : transparent;
    position:absolute;
    border: none;
    font-size:0;
    width:16.75vw;
    height:19.8650519031141869vh;
    left:66.21875vw;
    top:56.25259515570934vh;
    outline:none;
}